@charset "utf-8";

#header {padding:10px 0 0 20px; height:78px; min-width:640px; background:url(../images/bg.gif) repeat-x left top; clear:both;}
#header h1 {_display:inline; float:left; padding:10px 0 10px 10px; font-family:"나눔고딕", NanumGothic;}
#header h1 span {display:inline-block; *display:inline; *zoom:1; padding:10px; background:#ddd; font-size:16px; color:#000;}
#header ul {float:left; padding:23px 0 0 20px;}
#header ul li {float:left; padding:0 12px; border-left:1px solid #ccc; font-family:"나눔고딕", NanumGothic, ng, sans-serif;}
#header ul li:first-child {border-left:none;}
#header ul li a {color:#b7b7b7; font-size:11px;}
#header ul li a.on {color:#FFF; font-weight:bold; text-decoration:underline;}

#container {position:relative; zoom:1; background-color:#232323}
#container:after{display:block;visibility:hidden;clear:both;height:0;content:''}
#container .cnt {min-width:640px;}
#leftpanel {float:left; padding:0 0 40px 0; width:180px; background:#232323;}
#rightpanel {position:relative; padding:20px 20px 40px; z-index:10; overflow:hidden; background-color:#e1e1e1}

#content {padding:20px; min-width:980px;}
#content h1 {padding:0 0 20px 20px; margin-bottom:20px; background:url(../images/bullet_blue.png) no-repeat left top; font-size:16px; border-bottom:1px dashed #ccc;}
#content h2 {padding:0 0 0 20px; margin-bottom:10px; background:url(../images/bullet_blue2.png) no-repeat left top; font-size:14px;}
.mgc_a {width:180px; padding:0 0 60px; background:#d3d3d3}

#footer {text-align:center; height:55px; background:#474747; color:#b2b2b2; font:10px tahoma; line-height:55px;}

/* leftpanel */
#leftpanel h2 {padding:10px 12px 9px; font-size:12px; color:#eaeaea; background-color:#3b3b3b; font-family:"나눔고딕",NanumGothic;}

/* lnb */
ul.lnb > li {position:relative;}
ul.lnb > li > a {display:block; line-height:14px; padding:10px 12px 9px; border-bottom:1px solid #3d3d3d; font-size:12px;}
ul.lnb > li.dropdown > a {background:url(../images/lnb_arrow.png) no-repeat 158px center;}
ul.lnb > li.dropdown.open > a {color:#21b9f3; font-weight:bold; background:url(../images/lnb_arrow_a.png) no-repeat 158px center;}
ul.lnb > li > a:hover {background-color:#2b2b2b;}
ul.lnb > li > ul {display:none; border-bottom:1px solid #3d3d3d; background-color:#2C2C2C}
ul.lnb > li.dropdown.open > ul {display:block;}
ul.lnb > li > ul li {position:relative;}
ul.lnb > li > ul li a {display:block; font-size:11px; padding:10px 0 9px 20px; border-bottom:1px dashed #3d3d3d}
ul.lnb > li > ul li a.active {color:#21b9f3;}
ul.lnb > li > ul li.last a {border:none;}

/* rightpanel */
#rightpanel h2 {padding:0 0 10px 0; font-size:14px; border-bottom:1px dashed #b2b2b2}

/* table */
table.table1 {margin-bottom:30px; background:#fff; border-top:1px solid #007ab2; border-left:1px solid #ccc; }
table.table1 thead th {color:#000; background:#e1f1f9; border-right:1px solid #ccc; border-bottom:1px solid #ccc; padding:5px 10px; line-height:18px;}
table.table1 tbody th {color:#000; background:#f7f3f3; border-right:1px solid #ccc; border-bottom:1px solid #ccc; padding:5px 10px; line-height:18px;}
table.table1 tbody td {color:#666; vertical-align:top; border-right:1px solid #ccc; border-bottom:1px solid #ccc; padding:5px 10px; line-height:18px; letter-spacing:-1px;}
table.table1 tbody td a {font-weight:bold; font-size:11px; letter-spacing:-1px; color:#0d9bb4; background:url(../images/ico_a5.gif) no-repeat left center; padding:4px 0 4px 25px;}